.register-container{
    margin: 200px auto;
    width: 20vw;
    height: 45vh;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 14px 0px rgba(206, 237, 237, 0.811);

    .register-inputs{
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-weight: 500;
    }
    .username-input{
        width: 18vw;
        padding: 8px;
        border: 1px solid lightgray;
        border-radius: 3px;
        outline: none;
        box-sizing: border-box;
    }
    .email-input{
        width: 18vw;
        padding: 8px;
        border: 1px solid lightgray;
        border-radius: 3px;
        outline: none;
        box-sizing: border-box;
    }
    .password-input{
        width: 18vw;
        padding: 8px;
        border: 1px solid lightgray;
        border-radius: 3px;
        outline: none;
        box-sizing: border-box;
    }
    .errors {
        margin: 0px;
        font-size: 12px;
        color: red;
    }

    .register{
        background-color: white;
        padding: 8px;
        font-weight: 500;
        margin-top: 10px;
        border: 1px solid lightgrey;
        border-radius: 3px;
    }
}